/* ====================================================
Base style & container
==================================================== */
body {
	color: black;
	font-size: 100%;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

.container {
	display: block;
	margin: 0 auto;
	&.container-sm {
		max-width: 1030px;
		padding: 0 15px;
	}
	&.container-md {
		max-width: 1230px;
		padding: 0 15px;
	}
	&.container-lg {
		max-width: 1430px;
		padding: 0 15px;
	}
}

.row {
	@extend .clearfix;
	[class^="col-"] {
		float: left;
		// For PC
		@media screen and (min-width: 769px) {
			&.col-pc-33p {
				width: 33%;
			}
		}
		// For Tablet
		@media screen and (max-width: 768px) and (min-width: 481px) {
			&.col-tb-48p {
				width: 48%;
			}
		}
		// For Mobile
		@media screen and (max-width: 480px) {
			&.col-sp-100p {
				width: 100%;
			}
		}
	}
}

.flex-row {
	display: flex;
	justify-content: space-between; // Default styling
	&.v-center {
		align-items: center;
	}
	&.h-center {
		justify-content: center;
	}
	&.wrap {
		flex-wrap: wrap;
	}
}

/* ====================================================
Float & clear
==================================================== */
.clearfix {
	*zoom: 1;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

/* ====================================================
Header & footer
==================================================== */
#main-header {

}

#main-footer {

}

/* ====================================================
Components & modules
==================================================== */
.page-index1 {
	background: url("../images/photos/BG1.png") no-repeat center center;
	background-size: cover;
	position: relative;
	height: 100vh;
}

.board-display {
	display: block;
	position: absolute;
	@include v-h-align;
	background: url("../images/photos/board-frame-01.png") no-repeat center center;
	background-size: 100% 100%;
	width: 1212px;
	height: 815px;
	z-index: 1;
	@media screen and (max-width: 1366px) {
		width: calc-vw(1212);
		height: calc-vw(815);
	}
	.cta {
		display: block;
		position: absolute;
		right: 140px;
		bottom: 60px;
		width: 263px;
		height: 71px;
		background: url("../images/icons/cta.png") no-repeat center center;
		background-size: 100% 100%;
		@media screen and (max-width: 1366px) {
			right: calc-vw(140);
			bottom: calc-vw(60);
			width: calc-vw(263);
			height: calc-vw(71);
		}
	}
}

.tabs {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	li {
		position: absolute;
		&:first-child {
			&.active {
				top: 8px;
				left: 241px;
				img {
					width: 433px;
					height: 79px;
				}
				@media screen and (max-width: 1366px) {
					top: calc-vw(8);
					left: calc-vw(241);
					img {
						width: calc-vw(433);
						height: calc-vw(79);
					}
				}
			}
		}
		&:last-child {
			top: 20px;
			left: 617px;
			img {
				width: 414px;
				height: 67px;
			}
			@media screen and (max-width: 1366px) {
				top: calc-vw(20);
				left: calc-vw(617);
				img {
					width: calc-vw(414);
					height: calc-vw(67);
				}
			}
		}
		a {
			font-family: AmazObitaemOstrovV2, sans-serif;
			background: -webkit-gradient(linear, left top, left bottom, from(#fef300), to(#e37900));
			background: -o-linear-gradient(top, #fef300 0%, #e37900 100%);
			background: linear-gradient(to bottom, #fef300 0%, #e37900 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.tab-content {
	position: relative;
}

#tab1 {
	.user-col {
		position: absolute;
		top: 175px;
		left: 120px;
		@media screen and (max-width: 1366px) {
			top: calc-vw(180);
			left: calc-vw(120);
		}
		.user-list {
			counter-reset: user-pos;
			list-style: none;
			li {
				color: #ffd800;
				font-family: "Jura", sans-serif;
				font-weight: bold;
				font-size: 20px;
				padding-left: 70px;
				margin-bottom: 25px;
				position: relative;
				&:before {
					display: block;
					counter-increment: user-pos;
					content: counter(user-pos);
					width: 55px;
					height: 52px;
					background: url("../images/icons/star-pos.png") no-repeat center center;
					background-size: 100% 100%;
					position: absolute;
					left: 0;
					color: #670000;
					text-align: center;
					line-height: 56px;
					font-size: 30px;
					font-weight: 900;
					font-family: "iCiel Novecento sans Ultra Bold", sans-serif;
					top: 25%;
					transform: translateY(-50%);
				}
				@media screen and (max-width: 1366px) {
					padding-left: calc-vw(70);
					font-size: calc-vw(20);
					margin-bottom: calc-vw(25);
					&:before {
						width: calc-vw(55);
						height: calc-vw(52);
						font-size: calc-vw(30);
						line-height: calc-vw(58);
					}
				}
			}
		}
	}
	.result-col {
		position: absolute;
		top: 175px;
		right: 127px;
		width: 460px;
		@media screen and (max-width: 1366px) {
			top: calc-vw(175);
			right: calc-vw(127);
			width: calc-vw(460);
		}
		.gift-showcase {
			text-align: center;
			img {
				height: 236px;
				@media screen and (max-width: 1366px) {
					height: calc-vw(236);
				}
			}
		}
	}
}

/* ====================================================
Typography
==================================================== */

/* ====================================================
Buttons, input, .etc
==================================================== */