/* ====================================================
Font settings
==================================================== */
@font-face {
	font-family: "iCiel Novecento sans Ultra Bold";
	src: url("../fonts/iCielNovecentosans-UltraBold.otf");
}

@font-face {
	font-family: "AmazObitaemOstrovV2";
	src: url("../fonts/AmazObitaemOstrovV2.ttf") format('ttf'),
	url("../fonts/AmazObitaemOstrovV2.eot") format('eot'),
	url("../fonts/AmazObitaemOstrovV2.svg") format('svg'),
	url("../fonts/AmazObitaemOstrovV2.woff") format('woff');
}

/* ====================================================
Position & transform
==================================================== */
@mixin v-align {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin h-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin v-h-align {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====================================================
Sizing
==================================================== */
@function calc-vw($size) {
	$vwSize: ($size / 1366) * 100;
	@return #{$vwSize}vw;
}

/* ====================================================
Misc
==================================================== */
@mixin no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin smooth-transition {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-backface-visibility: hidden;
}