<main class="page-<%= pageData.template %>" role="main">
	<div class="board-display">
		<div class="cta">
			<a href="">
				QUAY
			</a>
		</div>
		<ul class="tabs">
			<li>
				<a href="#tab1" class="active">
					<img src="<%= RELATIVE_PATH %>images/icons/tab-01-active-off.png" alt="">
					VÒNG QUAY
				</a>
			</li>
			<li>
				<a href="#tab2">
					<img src="<%= RELATIVE_PATH %>images/icons/tab-02-inactive-off.png" alt="">
					BẢNG XẾP HẠNG
				</a>
			</li>
		</ul>
		<div id="tab1" class="tab-content">
			<div class="user-col">
				<ol class="user-list">
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
					<li>Nguyễn Văn A</li>
				</ol>
			</div>
			<div class="result-col">
				<div class="gift-showcase">
					<img src="<%= RELATIVE_PATH %>images/photos/gift-01.png" alt="">
				</div>
				<div class="result-box">

				</div>
			</div>
		</div>
	</div>
</main>